# ==============================
# ENTORNOS VIRTUALES
# ==============================
.venv/
.venv*/
venv/
env/

# ==============================
# JUPYTER
# ==============================
**/.ipynb_checkpoints/

# ==============================
# IDEs
# ==============================
.idea/
.vscode/

# ==============================
# KERAS TUNER / ARCHIVOS TEMPORALES
# ==============================
**/kerastuner_dir/
notebooks/artifacts/

# ==============================
# DATA GRANDE (si aplica)
# ==============================
/data-xray