# ==============================
# ENTORNOS VIRTUALES
# ==============================
.venv/
.venv*/
venv/
env/

# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# ==============================
# JUPYTER
# ==============================
**/.ipynb_checkpoints/

# ==============================
# IDEs
# ==============================
.idea/
.vscode/

# ==============================
# KERAS TUNER / TUNING
# ==============================
**/kerastuner_dir/
**/keras_tuner/
oracle.json
trial.json

# ==============================
# PESOS Y CHECKPOINTS
# ==============================
*.h5
*.keras
*.ckpt
checkpoint*

# ==============================
# MLFLOW
# ==============================
mlruns/

# ==============================
# DATA GRANDE
# ==============================
/data-xray/
*.zip
*.tar